<header>
  <div class="header-logo">
    <%= link_to("つぶらく", "/") %>
  </div>
  <ul class="header-menus">
    <li>
      <%= link_to("つぶらくって？", "/about") %>
    </li>
  </ul>
</header>
<div class="about-main">
  <h2>つぶらくとは</h2>
  <p>
    楽しいことだけをシェアするために作られたSNSサービスです。
    日々の日常をみんなにシェアしよう！！
  </p>
</div>
