<header>
  <div class="header-logo">
    <%= link_to("つぶらく", "/") %>
  </div>
  <ul class="header-menus">
    <li>
      <%= link_to("つぶらくって？", "/about") %>
    </li>
  </ul>
</header>
<div class="main top-main">
  <div class="top-message">
    <h2>人生の楽しさをシェアしよう</h2>
    <p>タイハムが作った初めてのポートフォリオ</p>
  </div>
</div>
